#Carpetas
Pruebas/
VersionesViejas/
Imagenes/Originales/
__pycache__/
.vscode
build
dist

#Archivos
*.pyo
*.spec

#Archivos Recursos
Recursos/config.ini
Recursos/BaseFarmabox.db
Recursos/BaseFarmabox.sqbpro
